
@viewport {
  width: device-width;
  }

#firstWind{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;  
  height: 100vh;
}

.mainLogo{
  display: flex;
  align-self: center;
  justify-self: center;
  /* padding-bottom: 10%;
   */

   padding-top: 25%;
   padding-bottom: 25%;
  /* padding-left: 0px;
  padding-right: 0px; */

  width: 100%; 
  height: auto; 

  max-width: 227px;
  max-height: 192px;

  min-width: 150px;
  min-height: 128px;

}


.b {
  min-width: 160px;
  max-width: 500px; 
  height: auto; 

  /* font-size: 80px;
  font-family: var(--font-rubik); */
}



.logo-horizontal-icon {
  width: 50%;
  /* position: relative; */
  height: auto;
  /* padding-top: 10px; */
  max-width: 250px;

}

.hp-2-meet-mova-header {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
  gap: 15px;
  min-width: 10px;
  max-width: 80%;

}
.b1,
.div {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.div {
  font-weight: 100;
}
.b1 {
  font-size: var(--font-size-21xl);
}
.frame,
.hp-2-blck-hdr,
.hp-2-blck1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}



.hp-2-blck-hdr,
.hp-2-blck1 {
  align-self: stretch;
  flex-direction: row;
}
.hp-2-blck1, #zlo {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-silver);
  flex-direction: column;
  padding: var(--padding-11xl);

  transition: all 200ms ease-in-out;
}

.hp-2-blck1:hover{  
  scale:1.03; 
  /* padding: 30px; */
  /* animation-name: upscale;
  animation-duration: 0.7s; */
}

#zlo:hover{
  scale:1.01; 
}


/* 
@keyframes upscale {
  from {scale:1; padding: 30px;}
  to {scale: 1.03; padding: 15px;}
}


@keyframes scale {
  from {scale: 1.03; padding: 15px;}
  to {scale: 1; padding: 30px;}
} */



.hp-2-blck {
  flex: 1;
  height: 690px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini);
  box-sizing: border-box;
  min-width: 290px;
  max-width: 570px;
}
.hp-2-blck,
.hp-2-blck2,
.hp-2-bnt-clmn-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hp-2-bnt-clmn-1 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-width: 390px;
  max-width: 100%;
  z-index: 2;
}
.hp-2-blck2 {
  height: 230px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini);
  box-sizing: border-box;
}

.hp-2-blck2,
.hp-2-bnt-clmn-2 {
  flex: 1;
  min-width: 390px;
  max-width: 570px;
}
.hp-2-bnt-clmn-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.hp-2-blck-empty {
  position: relative;
  height: 230px;
  width: 100%;
  padding-top: 30px;
}
.hp-2-bnt,
.hp-2-bnt-clmn-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-width: 390px;
}
.hp-2-bnt-clmn-3 {
  flex: 1;
  max-width: 1170px;
  z-index: 0;
}
.hp-2-bnt {
  width: 100%;
  max-width: 1710px;
  font-size: var(--font-size-xl);
}
.hp-2-meet-mova,
.hp-2-meet-mova-header-parent {
  height: 1080px;
  display: flex;
  justify-content: flex-start;
}
.hp-2-meet-mova-header-parent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0;
  box-sizing: border-box;
  gap: 45px;
}
.hp-2-meet-mova {
  width: 100%;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /* min-width: 390px;
  max-width: 1920px; */
  text-align: left;
  font-size: 85px;
  color: var(--black);
  font-family: var(--font-rubik);
}



#footer{
  width: 100%;
  /* height: 20%; */
  padding-top: 60px;
  /* padding-bottom: 120px; */
  padding-left: 20px;
  gap:30px;
  row-gap: 10px;
  bottom: 10px;
}

.footer-img{
  /* display: flex;
  align-self: flex-start; */
  max-width: 290px;
  
  padding-left: 0px;
  /* height:auto; */
  /* max-height: 40px;
  min-height: 10px; */
  /* max-width: 700px;  */
}

.footer-list{
  padding-left: 0px; 
  list-style-type: none; 
  color:black; 
  font-size: 20px; 
  bottom: 10px;
}

li{
  margin-bottom: 12px;
  list-style-type: none;
  padding-left: -30px;
}


.footer-copy{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.copy-elemenet{
  display: flex; 
  justify-content: end; 
  align-items: flex-end; 
  gap:10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 1;
  padding-right: 10px;
  color: #a3a3a3;
  
}


