


















  .vector-icon {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  .gallery-item-details,
  .h1 {
    position: relative;
    max-width: 100%;
    z-index: 1;
  }
  .h1 {
    margin: 0;
    width: 546px;
    font-size: inherit;
    line-height: 118px;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
  }
  .gallery-item-details {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
  }
  .gallery-item {
    align-self: stretch;
    height: 63.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl-8);
    box-sizing: border-box;
    max-width: 100%;
  }
  .gallery-item-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    max-width: 100%;
    z-index: 1;
  }
  .gallery-item1 {
    width: 584.7px;
    height: 63.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl-7);
    box-sizing: border-box;
    max-width: 100%;
  }
  .gallery-item-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    max-width: 100%;
    z-index: 1;
  }
  .gallery-item2 {
    width: 540.5px;
    height: 63.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl-8);
    box-sizing: border-box;
    max-width: 100%;
  }
  .gallery-item-inner {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    max-width: 100%;
    z-index: 1;
  }
  .gallery-item3 {
    width: 517.3px;
    height: 63.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl-7);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-div {
    height: 32.7px;
    flex: 1;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    z-index: 1;
  }
  .gallery-item4 {
    width: 269.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl-8);
    box-sizing: border-box;
  }
  .gallery-item-child1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    max-width: 100%;
    z-index: 1;
  }
  .gallery-item5 {
    width: 517.3px;
    height: 90.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 58px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .b7 {
    position: relative;
    font-size: var(--font-size-17xl);
    line-height: 25px;
    font-family: var(--font-rubik);
    color: var(--color-dimgray);
    text-align: left;
  }
  .gallery-items,
  .purchase-button {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .purchase-button {
    cursor: pointer;
    border: 0;
    padding: 17.5px var(--padding-xl);
    background-color: var(--color-darkgray);
    width: 473px;
    border-radius: var(--br-base);
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
  }
  .purchase-button:hover {
    background-color: gray;
  }
  .gallery-items {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    min-width: 409px;
  }
  .b8 {
    position: relative;
    line-height: 51px;
  }
  .wrapper {
    width: 420px;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 274.5px var(--padding-xl);
    box-sizing: border-box;
    min-width: 420px;
    max-width: 100%;
    z-index: 1;
    font-size: var(--font-size-17xl);
  }
  .gallery-items-parent {
    width: 1110px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
  }
  .content,
  .gallery-items-parent,
  .navigation {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .navigation {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    font-size: 84px;
    color: var(--color-dimgray);
    font-family: var(--font-rubik);
  }
  .content {
    width: 1350px;
    border-radius: var(--br-base);
    background-color: #cdcdcd;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xl) var(--padding-11xl) var(--padding-101xl);
    box-sizing: border-box;
    gap: var(--gap-11xl);
  }
  .b9 {
    position: relative;
    line-height: 51px;
  }
  .menu-items {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-40xl-5) var(--padding-xl) var(--padding-14xl-5);
  }
  .b10 {
    position: relative;
    line-height: 51px;
    display: inline-block;
    min-width: 116px;
  }
  .menu-items1 {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-40xl-5) var(--padding-xl) var(--padding-14xl-5);
  }
  .b11 {
    position: relative;
    line-height: 51px;
  }
  .menu-items2 {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-40xl-5) var(--padding-xl) var(--padding-14xl-5);
    white-space: nowrap;
  }
  .b12 {
    position: relative;
    line-height: 51px;
  }
  .menu-items3 {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-40xl-5) var(--padding-xl) var(--padding-14xl-5);
  }
  .b13 {
    flex: 1;
    position: relative;
    line-height: 140%;
  }
  .menu,
  .menu-items4,
  .mova-website-page-v2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-items4 {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-darkgray);
    flex-direction: row;
    padding: 34.5px 47px 8.5px;
    text-align: center;
  }
  .menu,
  .mova-website-page-v2 {
    gap: var(--gap-11xl);
  }
  .menu {
    width: 330px;
    flex-direction: column;
    max-width: 100%;
  }
  .mova-website-page-v2 {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-101xl) 90px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-dimgray);
    font-family: var(--font-rubik);
  }
  @media screen and (max-width: 1800px) {
    .mova-website-page-v2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1350px) {
    .wrapper {
      flex: 1;
    }
    .gallery-items-parent {
      flex-wrap: wrap;
      gap: var(--gap-11xl);
    }
    .mova-website-page-v2 {
      padding-left: var(--padding-26xl);
      padding-right: var(--padding-26xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 925px) {
    .h1 {
      font-size: 42px;
      line-height: 71px;
    }
    .b7 {
      font-size: var(--font-size-10xl);
      line-height: 40px;
    }
    .gallery-items {
      min-width: 100%;
    }
    .b8 {
      font-size: var(--font-size-10xl);
      line-height: 40px;
    }
    .content,
    .wrapper {
      box-sizing: border-box;
    }
    .wrapper {
      padding-top: var(--padding-159xl);
      padding-bottom: var(--padding-159xl);
      min-width: 100%;
    }
    .content {
      padding-top: var(--padding-xl);
      padding-bottom: 78px;
    }
    .b10,
    .b12,
    .b13,
    .b9 {
      font-size: var(--font-size-10xl);
      line-height: 40px;
    }
    .mova-website-page-v2 {
      gap: 15px;
      padding-left: var(--padding-3xl);
      padding-right: var(--padding-3xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .h1 {
      font-size: 25px;
      line-height: 47px;
    }
    .b7,
    .b8 {
      font-size: var(--font-size-3xl);
      line-height: 30px;
    }
    .content {
      padding-bottom: 51px;
      box-sizing: border-box;
    }
    .b10,
    .b12,
    .b13,
    .b9 {
      font-size: var(--font-size-3xl);
      line-height: 30px;
    }
    .menu-items4 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  